[builderList]
modelClass = "Alex\About\Models\About"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "Alex\Mission\Models\Mission"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set recordsdva = builderList2.records %}
{% set displayColumn = builderList2.displayColumn %}
{% set noRecordsMessage = builderList2.noRecordsMessage %}
{% set detailsPage = builderList2.detailsPage %}
{% set detailsKeyColumn = builderList2.detailsKeyColumn %}
{% set detailsUrlParameter = builderList2.detailsUrlParameter %}


<div class="container-fluid px-0">
   
    <div class="row no-gutters">
        <div class="col-lg-6 col-12">
            <div class="about__content ">
               {% for recorddva in recordsdva %}
            <h3>{{ recorddva.title }}</h3>

          

            <h5 class="py-5 text-uppercase"> {{ recorddva.slogan | raw }}</h5>
           <div class="row">
            <div class="col-lg-2"><img class="w-100" src="{{ 'assets/img/logo.svg' | theme }}" alt=""></div>
            <div class="col-lg-10">

       <p><span>
       {{ recorddva.text | raw }}
       </span></p>

    </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <div class="col-lg-6 col-12 phone-first"><div class="about__img">
            <img src="{{ 'assets/img/home3.jpg' | theme }}" alt="">
        </div>
        </div>

        <div class="col-lg-6">
            <div class="about__img">
                <img src="{{ 'assets/img/home2.jpg' | theme }}" alt="">
            </div>
        </div>
            {% for record in records %}
        <div class="col-lg-6">
                    <div class="about__content  p-lg-5">
                <h3>{{ record.title }}</h3>
                        <p><span>
                            
                           {{ record.text | raw }}

                        </span></p>

            </div>
        </div>
        {% endfor %}

    </div>
</div>