
            <section id="service" class="service bg-primary">
                <div class="container py-5">
    <h3 class="my-4 text-center text-white">НАШИ ПРЕИМУЩЕСТВА</h3>
    <div class="row">

       


        <div class="col-lg-4 col-6">
<div class="service__item my-5">
    <div class="service__icon"><img src="{{ 'assets/img/icon/01.svg' | theme }}" alt=""></div>
    <div class="service__desc">
        Эффективные решения<br> и долгосрочный результат
    </div>
</div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="service__item my-5">
                <div class="service__icon"><img src="{{ 'assets/img/icon/02.svg' | theme }}" alt=""></div>
                <div class="service__desc">
                    Комплексный подход<br>
                    при оказании услуг
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="service__item my-5">
                <div class="service__icon"><img src="{{ 'assets/img/icon/03.svg' | theme }}" alt=""></div>
                <div class="service__desc">
                    Особое внимание к специфике<br>
                    Вашей организации
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-6">
            <div class="service__item my-5">
                <div class="service__icon"><img src="{{ 'assets/img/icon/04.svg' | theme }}" alt=""></div>
                <div class="service__desc">
                    Исполнение в оптимально сжатые сроки
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="service__item my-5">
                <div class="service__icon"><img src="{{ 'assets/img/icon/05.svg' | theme }}" alt=""></div>
                <div class="service__desc">
                    Компетентность и высокий<br>
                    профессиональный уровень<br>
                    при оказании услуг<br>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="service__item my-5">
                <div class="service__icon"><img src="{{ 'assets/img/icon/06.svg' | theme }}" alt=""></div>
                <div class="service__desc">
                    Консультация </br> в рамках оказываемых услуг
                </div>
            </div>
        </div>





    </div>
</div>
            </section>