title = "Контакты"
url = "/kontakty"
layout = "contacts"
is_hidden = 0

[builderList]
modelClass = "Alex\Contact\Models\Contact"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "phone"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="wrapper-for-modal" id="example">
    <div class="shadow-wrapper" id="shadow">
        <div class="main">
            <section id="home">
                <div class="banner banner--contact">
    <div class="banner__wrapper">
        <img src="{{ 'assets/img/logo.png' | theme }}" alt="">
        <h1  class="text-center text-uppercase p-5 text-white">Контакты</h1>
    </div>
</div>
            </section>

            <section>
                <div class="container my-5">
    <div class="row">
        <div class="col-lg-4"><div class="contact__wrapper">
<div class="contact__header mb-4 p-4 border border-primary">
    {% for record in records %}
    <p class="font-weight-light">{{ record.too | raw }}</p>
    <p class="font-weight-bold">Адрес:</p>
    <p class="font-weight-light">{{ record.adress }}</p>
        <p class="font-weight-bold">"Электронный" адрес:</p>
    <p class="font-weight-light">{{ record.mail }}</p>
  
    {% endfor %}
    <p class="font-weight-bold">  Телефон:</p>
  
  {% for record in records %}



      {% for phone in record.phones %}
    <p class="font-weight-light"> {{ phone.phone_tel }}</p>
   
   {% endfor %}

   
   {% endfor %}

</div>
      
        </div>
        </div>
        <div class="col-lg-8">

            <iframe class="rounded" src="https://yandex.ru/map-widget/v1/?um=constructor%3Af8f7c71f126e0a11b51fa5b57a849cf540d3776aef5dec24b26084ca5686cb45&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>



        </div>

    </div>
</div>
            </section>
          
        </div>

    </div>
</div>