title = "Услуги"
url = "/uslugi"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Alex\Uslugi\Models\Uslugi"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="wrapper-for-modal" id="example">
    <div class="shadow-wrapper" id="shadow">
        <div class="main">
            <section id="home">
              <div style="background-image: url({{ 'assets/img/photo-1582810822512-cd067820a128.jpg' | theme }});" class="banner banner--ab">
    <div class="banner__wrapper">
        <img src="/img/logo.png" alt="">
        <h1 style="    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 351px;
        position: relative;
        z-index: 99999" class="text-center text-uppercase p-5 text-white">Наши услуги</h1>
    </div>
</div>
            </section>

            <section>
                <script>$(document).ready(function() {
	$(".set > a").on("click", function() {
	  if ($(this).hasClass("active")) {
		$(this).removeClass("active");
		$(this)
		  .siblings(".content")
		  .slideUp(200);
		$(".set > a i")
		  .removeClass("fa-minus")
		  .addClass("fa-plus");
	  } else {
		$(".set > a i")
		  .removeClass("fa-minus")
		  .addClass("fa-plus");
		$(this)
		  .find("i")
		  .removeClass("fa-plus")
		  .addClass("fa-minus");
		$(".set > a").removeClass("active");
		$(this).addClass("active");
		$(".content").slideUp(200);
		$(this)
		  .siblings(".content")
		  .slideDown(200);
	  }
	});
  });
  </script>

<style>
	.accordion-container{
  position: relative;
  height: auto;
  margin: 10px auto;
}
.accordion-container > h2{


  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
 
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  /* background-color: #f5f5f5; */
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  /* border-bottom: 1px solid #ddd; */
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;

}

.set > a::before{
	content: '';
	width: 10px;
	background-color: #1badff;
	display: inline-block;
	height: 10px;
	margin-right: 10px;
	border-radius: 100%;
}

.set>a:hover{
	color:#fff;
	background-color: #10141a;
	  
}

.set>a:hover::before{
	background-color: white;
}

.set>a:active::before{
	background-color: white;
}


.set > a i{
  float: right;
  margin-top: 2px;
}
.set > a.active{
  background-color:#10141a;
  color: #fff;
}
.content{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}
</style>

{% for record in records %}

<div class="row">
<div class="accordion-container container">
	<h5 class="text-uppercase pt-5 pb-4">{{ record.title}}:</h5>
	{% for item in record.items %}
	<div class="set col-lg-12">
	  <a href="javascript:void(0)">
	{{ item.items_title }}
		
	  </a>
	  <div class="content">
		<p>	{{ item.items_text | raw }}</p>
	  </div>
	
</div>
{% endfor %}

{% endfor %}
            </section>
            
        </div>

    </div>
</div>