.menu{
  &__item{
    position: relative;
    overflow: hidden;
    width: 100%;
    img{
      width: 100%;
      display: block;
    }
    h5{
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
     padding: 28px;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0;
      color: #fff;

    }
  }
}